*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1{
  font-size: 48px;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form div{

  margin: 10px 0;

}

.respuesta{
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
}

h2{
  font-size: 34px;
}

p{
  font-size: 26px;
  margin: 15px 0;
}
a{
  font-style: none;
}
.btn{
  background-color: antiquewhite;
  color: blue;
  transition: 0.2ms;
  font-size: 20px;
}
.btn:hover{
  background-color: black;
  color: purple;
 
}

.text-error{
  color: red;
}